drupal/sites/*/settings.php
drupal/sites/*/civicrm.settings.php
drupal/sites/*/files

drupal/google*.html

*~
\#*\#

*.mysql
!drupal/sites/all/modules/civicrm/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*.mysql
!drupal/sites/all/modules/civicrm/*/*/*/*/*.mysql

*.sql

*.tar

*.gz

*.zip
!drupal/sites/all/modules/civicrm/packages/jquery/themes/blue/blue.zip
