/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
  font-size: 1.2em;
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-main-menu ul.menu {
  margin:0;
  padding:0;
}

/* LQ */
/* http://www.alistapart.com/articles/customunderlines/ */
#block-system-main-menu ul.menu li.leaf {
  background-image: url("/sites/default/files/nav-images/line-berry.gif");
  background-repeat: repeat-x;
  background-position: 100% 100%;
  list-style-image:none;
  list-style-type:none;
  font-size:1em;
  line-height:2.2em;
}

#block-system-main-menu ul.menu li.leaf a {
  text-decoration: none;
}


/* LQ 
#block-system-main-menu li.leaf {
  text-decoration: line-through;
  background: url("/sites/default/files/nav-images/line-berry.gif") repeat-y scroll left bottom transparent;
}

#block-system-main-menu li.leaf a {
  z-index: 1008;
  background-color: #FFFFFF;
  background-image: none;
  border-color: #EAD4A4 #EDBB85 #EDBB85 #EAD4A4;
  border-style: solid;
  border-width: 0;
  color: #5C8BC3;
  cursor: pointer !important;
  font-family: arial,sans-serif;
  font-style: normal;
  font-weight: normal !important;
  padding-bottom: 0 !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0 !important;
  text-align: left;
  text-decoration: none;
  height: 30px;
  position: relative !important;
  width: 193px;
}
*/

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}
