/* $Id: thumbs-up.css,v 1.1 2010/12/20 20:13:52 pixture Exp $ */
.thumbs-up-off {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px 0px;
}
.thumbs-up1-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -14px;
}
.thumbs-up2-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -28px;
}
.thumbs-up3-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -42px;
}
.thumbs-up4-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -56px;
}
.thumbs-up5-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -70px;
}
.thumbs-up6-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -84px;
}
.thumbs-up7-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -98px;
}
.thumbs-up8-on {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  background: url('thumbs-up.png') no-repeat 0px -112px;
}
