/* orange */

#logoBox {
	background-image: url(images/orange-logo.gif);
}

h4 {
	color: #e7a157;
}

#bannerQuote { 
	background-color: #e7a157;
}

#leftCol ul li {
	background-image: url(images/orange-dash.gif);
}
