/* blue */

#logoBox {
	background-image: url(images/blue-logo.gif);
}

h4 {
	color: #e0e3e7;
}

#bannerQuote { 
	background-color: #e0e3e7;
}

#leftCol ul li {
	background-image: url(images/blue-dash.gif);
}
