.clear {
	clear: both;
}

a {
	text-decoration: none;
}

a:hover
{
	text-decoration: none;
}

h2, h2 a {
	color: #6e9ece;
}

h2 {
	padding: 4px 0;
	font-size: 1.6em;
	font-weight: normal;
}

h4 {
	padding: 2px 0;
}

p {
	margin: 8px 0;
	line-height: 1.3em;
}

body
{
	font-family: Arial, Helvetica, Georgia, Sans-serif;
	font-size: 0.8em;
	text-align: center;
	color: #2e2e2e;
	background-color: #d2dfef;
}

/*...........structure............*/
#wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
	text-align: left;
	background-color: #fff;
}

#header {
	height: 130px;
	margin-bottom: 18px;
}

#header h1, #leftCol ul a, h2 {
	font-family: 'Rokkitt', Georgia, Serif;
}

#header h1 {
	float: left;
	margin-top: 60px;
}

#header h1 a {
	width: 336px;
	height: 43px;
	display: block;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	background: url(images/logo.png) no-repeat 0 0;
}

#banner {
	height: 260px;
	margin-bottom: 18px;
}

#banner p {
	margin: 0;
}

#bannerQuote {	
	width: 232px;
	height: 224px;
	margin-right: 18px;
	padding: 18px 14px;
	float: left;
	font-family: 'Glypha LT W01 55 Roman';
	color: #fff;
	background-color: #a4ac73;
}

#bannerQuote p {
	font-size: 1.4em;;
}

#bannerImage {
	width: 622px;
	height: 260px;
	float: right;
}

#leftCol {
	width: 259px;
	float: left;
}

#leftCol ul li {
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-image: url(images/fern-dash.gif);
}

#leftCol ul li.last {
	background: 0 none;
}

#leftCol ul a {
	margin: 4px 0 6px 0;
	padding: 3px 0;
	display: inline-block;
	color: #6e9ece;
	font-size: 1.4em;
}

#leftCol ul a:hover { 
	background-color: #d2dfef;
}
	
#main {
	width: 622px;
	float: left;
	padding-left: 18px;
	border-left: 1px solid #6e9ece;
}

#pageIntro {
	float: left;
}

.front #pageIntro {
	width: 292px;
}

#hpRight {
	width: 292px;
	margin-left: 18px;
	padding-left: 18px;
	float: right;
	border-left: 1px solid #6e9ece;
}

#footer {
	height: 30px;
	line-height: 30px;
	clear: both;
}

/*...........events............*/
.view-events .views-row {
	margin-bottom: 15px;
}

.node-event h3 a {
	color: #2e2e2e;
}

ul.inline li {
	padding: 0 5px 0 0;
}

ul.inline li a {
	color: #6E9ECE;	
}







